.header {
	border-bottom:1px solid #e3e3e3;
}

body {

	/*margin-bottom:100px;*/
}
.footer {
	position:fixed;
	bottom:0px;
	border-top:1px solid #e3e3e3;
	width:100%;
	left:0px;
	text-align:center;
	padding:10px;
	background: white;
}

#app {
	margin-top:100px;
	height:100%;
}

#app .container, main, #img-div {
	height:100%;
}

#img-div {
	height:calc(100% - 80px);
	background:url('../imgs/tree.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.section {
	font-size:42px;
	opacity:.6;
	/*padding-left:20px;*/
}

a {
	cursor:pointer;
}

.title {
	font-size:22px !important;
}

a:hover {
	color:#67B3F4 !important;
	text-decoration: none;
}

.project, .course {
	width:80%;
	padding:10px;
	padding-left:30px;
}

.description {
	opacity:.5;
	font-size:16px;
}

.project-img {
	max-width:200px;
	max-height:200px;
}

nav.navbar-default {
	background-color: white;
}

.active {
	color:black !important;
	background-color: white;
}

.navbar.navbar-default.navbar-fixed-top {
	right:20px;
	left:20px;
	padding-top:15px;
	padding-bottom:15px;
}
html {
  height: 100%;
}

body {
	height:calc(100% - 100px);
}

/*main {
	padding-left:10%;
	position:fixed !important;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
}*/

p {
	margin-bottom:0px;
}

#tree {
	width:100%;
	margin-bottom:50px;
}

#landing-div div {
	display: inline-block;
}

.spacer {
	border-bottom:1px solid black;
}

#landing-text {
	font-size:40px;
	opacity:.5;
}

#project-div {
	text-align:center;
}

#about-div {
	text-align:right;
}
@media screen and (max-width:992px) {
	#about-div, #project-div {
		text-align:left !important;
	}
	#landing-text {
		font-size:20px !important;
	}
	#img-div {
		height:calc(100% - 100px);
	}
}

/*body {
	background:url('../imgs/fgh.png');
	background-size:cover;
	background-repeat: no-repeat;
}*/