<div id="about-page-div" class="container-fluid">
   <row>
   		<img id="photo" class="col-md-4" src="imgs/freeman_photo.png"></img>
   		<div class="col-md-8 description">
    		<p>Hi, I'm Mike.  I'm a faculty member at the University of Washington's Information School.  I have a background in Sociology and Health Measurement, and currently teach courses that range from Web Development to Data Visualization.  I'm interested in socially impactful applications of these skills, and am still figuring out what that means.  For now, find me on twitter (<a href="https://twitter.com/mf_viz" target="_blank">@mf_viz</a>), or shoot me an <a href="mailto:michael.k.freeman@gmail.com">email</a>.</p>
    	</div>
</div>