@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Roboto:100');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #BBDEFB;
  padding: 20px;
  color: white;
  font-family:'Roboto', sans-serif;  
  text-align: left;
}

.App-header h1 {
  font-size:3em;    
  font-variant: small-caps;
}
.App-header h1, h2 {
  margin-top:0px;
  margin-bottom:0px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.section-title {
  color:gray;
  font-family:"Roboto";
  margin-bottom:0px;
}

.section-description {
  opacity:.5;
  margin-top:2px;
}