@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Roboto:100');
.App {
  text-align: center;
}

.App-header {
  background-color: #8DBADF;
  padding-top: 50px;
  padding-left:20px;
  color: white;
  font-family:'Roboto', sans-serif;  
  text-align: left;
  position:relative;
  overflow:hidden;
}

.App-header h1 {
  font-size:3.5em;    
  font-variant: small-caps;
}

@media only screen 
and (min-device-width: 520px) {
  .App-header h1 {
    font-size:2.5em;
  }
  .App-header h2 {
    font-size:1.3em;
  }
}


.App-header h1, h2 {
  margin-top:0px;
  margin-bottom:0px;
}

.App-header h3 {
  display:inline-block;
  padding-right:10px;
  margin-bottom:0px;
  margin-top:40px;
  font-variant:small-caps;
}
.App-header a {
  color:white;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.section-title {
  color:gray;
  font-family:"Roboto";
  margin-bottom:0px;
  font-size:2.5em;
}

.section-description {
  opacity:.3;
  margin-top:2px;
  margin-left:auto;
  margin-right:auto;
  width:75%
}

.burst {
  position: absolute;
  top:-150px;
  right:-150px;
}

section {
  border-bottom:1px solid #d3d3d3;
}