/* Resources.css */
.Projects {
    margin-left: auto;
    margin-right: auto;
    max-width:960px;
}

.Projects p {
    opacity:.5;
    margin-top:2px;
}
.Projects .cardWrapper { 
    margin-bottom:10px;
    padding:10px;
    display: flex;
    border-bottom: 1px solid #d3d3d3;
}

.Projects .cards {
    text-align:center;
}

.Projects .cardImage {
    display: inline-block;
    flex-basis: 20%;  
}

.Projects .cardDescription {
    display: inline-block;
    flex-basis: 66%;
    padding-left:10px;
}

.Projects h2 {
    color:gray;
    font-family:"Roboto";
    margin-bottom:0px;
}

.Projects .cardDescription p {
    text-align: left;
}